@use "sass:math";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  @include multiscreenContainer();
  margin-bottom: 60px;
}

.title {
  margin: 30px 0 40px;
  text-align: center;
  font-size: 35px;

  @media (min-width: $medium-screen) {
    margin-top: 40px;
  }
}

.form {
  display: grid;
  gap: 30px;
}

.button {
  justify-self: start;
}
