@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.heading {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;

  @media (min-width: $medium-screen) {
    margin-bottom: 30px;
    font-size: 25px;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
