@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.heading {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;

  @media (min-width: $medium-screen) {
    font-size: 22px;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
