@use 'sass:math';

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3;
  margin: auto;

  @media (min-width: $large-screen) {
    aspect-ratio: 5;
  }
}

.image {
  object-fit: cover;
}

.inner {
  @include container;

  padding-top: 25px;

  @media (min-width: $medium-screen) {
    @include container(large);

    padding-top: 40px;
  }

  > * {
    margin: 0;
  }
}

.title {
  margin: 0 0 10px;
  font-size: 25px;

  @media (min-width: $medium-screen) {
    font-size: 30px;
  }
}

.postInfo {
  margin: 0;
  color: var(--color-dimmed);
  font-size: var(--font-size-small);
}

.updatedAt {
  font-style: italic;
}

.author {
  color: var(--color-tertiary);
}

.postBody {
  margin: 25px 0;
  padding: 5px 0;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);

  @media (min-width: $medium-screen) {
    margin: 35px 0;
    padding: 10px 0;
  }
}

.editForm {
  display: grid;
  gap: 20px;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 20px;
}
