@use 'sass:math';

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 2;
  margin: auto;

  @media (min-width: $medium-screen) {
    aspect-ratio: 3;
  }

  @media (min-width: $wide-screen) {
    aspect-ratio: 5;
  }
}

.image {
  object-fit: cover;
}

.inner {
  @include container;

  padding-top: 25px;

  @media (min-width: $large-screen) {
    @include container(large);

    padding-top: 50px;
  }
}

.title {
  margin: 0 0 10px;
  font-size: 25px;

  @media (min-width: $medium-screen) {
    font-size: 30px;
  }
}

.postInfo {
  margin: 0;
  color: var(--color-dimmed);
}

.updatedAt {
  font-style: italic;
}

.author {
  color: var(--color-tertiary);
}

.editForm {
  display: grid;
  gap: 20px;
  padding: 30px 0;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 20px;
}
