.root {
  padding-top: 40px;
  padding-bottom: calc(40px + env(safe-area-inset-bottom));
  font-size: var(--font-size-small);

  @media (min-width: $medium-screen) {
    padding-bottom: 40px;
  }

  @media print {
    display: none;
  }
}

.inner {
  @include container;

  text-align: center;

  @media (min-width: $large-screen) {
    @include container(large);
  }
}

.author {
  color: var(--color-secondary);

  @include on-hocus {
    color: var(--color-secondary);
    text-decoration-line: underline;
  }
}
