.layout {
  overflow-x: hidden;
  color: var(--text-color);
  font-family: var(--primary-font, monospace);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
}

.main {
  min-height: 100vh;
  padding-top: calc(var(--header-height));
  padding-bottom: 50px;

  @media (min-width: $medium-screen) {
    padding-bottom: 80px;
  }
}

.alerts {
  @include position(top, calc(var(--header-height) + 15px), fixed);
  @include container;

  z-index: 900;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;

  @media (min-width: $large-screen) {
    width: 700px;
  }
}
