@use 'variables' as *;
@use 'mixins' as *;

.container {
  @include container(fluid);

  @media (min-width: $large-screen) {
    @include container(large);
  }
}

.title {
  margin: 0 0 30px;
  text-align: center;
  font-size: 30px;
}

.noPostsMessage {
  text-align: center;
  font-size: 18px;
}

.postList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 432px));
  justify-content: center;
  gap: 20px;

  @media (min-width: $medium-screen) {
    grid-template-columns: repeat(auto-fill, calc(50% - 10px));
  }

  @media (min-width: $large-screen) {
    grid-template-columns: repeat(auto-fill, 432px);
    gap: 30px;
  }
}

.noPostsMessage {
  text-align: center;
}
