@use 'variables' as *;
@use 'mixins' as *;

.layout {
  overflow-x: hidden;
  color: var(--main-text-color);
  font-family: var(--primary-font);
  font-size: $font-size-medium;
  line-height: $line-height;
}

.main {
  min-height: 100vh;
  padding-top: calc(var(--header-height));
  padding-bottom: 50px;
}
