.root {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 7px 10px 15px;
  opacity: 0;
  border: 1px solid rgb(0 0 0 / 5%);
  border-radius: var(--border-radius-medium);
  overflow-wrap: anywhere;
  box-shadow: var(--shadow-small);
  transform: scale(0.9);
  will-change: transform;

  @media (prefers-reduced-motion: no-preference) {
    transition:
      opacity 300ms ease-out,
      transform 300ms ease-out,
      width 300ms ease-out;
  }

  &.isVisible {
    opacity: 1;
    transform: scale(1);
  }

  &.success {
    background: #d1e7dd;
    color: #0f5132;
  }

  &.warning {
    background: #fff3cd;
    color: #664d03;
  }

  &.error {
    background: #f8d7da;
    color: #842029;
  }
}

.message {
  @include line-clamp(1);
}

.closeButton {
  @include place-center;

  margin-left: 1ch;
  padding: 3px;
  border-radius: 50%;
  background: transparent;

  @include on-hocus {
    .root.success & {
      background: #badbcc;
    }

    .root.warning & {
      background: #ffecb5;
    }

    .root.error & {
      background: #f5c2c7;
    }
  }
}

.closeIcon {
  fill: grey;
}
