.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 13px 16px;
  opacity: 0;
  border-radius: var(--border-radius-medium);
  transform: scale(0.9);
  will-change: transform;

  @media (prefers-reduced-motion: no-preference) {
    transition:
      opacity 300ms ease-out,
      transform 300ms ease-out;
  }

  &:last-child {
    margin-bottom: 30px;
  }

  &.isVisible {
    opacity: 1;
    transform: scale(1);
  }

  &.success {
    background: #d1e7dd;
    color: #0f5132;
  }

  &.warning {
    background: #fff3cd;
    color: #664d03;
  }

  &.danger {
    background: #f8d7da;
    color: #842029;
  }
}

.rootLink {
  color: inherit;
  text-decoration-line: none;
  font-weight: 700;

  @include on-hocus {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

.closeButton {
  @include place-center;

  margin-left: 1rem;
  padding: 3px;
  border-radius: 50%;
  background: transparent;

  @include on-hocus {
    .root.success & {
      background: #badbcc;
    }

    .root.warning & {
      background: #ffecb5;
    }

    .root.danger & {
      background: #f5c2c7;
    }
  }
}

.closeIcon {
  fill: grey;
}
