.button {
  @include scale-on-active;

  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  min-width: 120px;
  padding: 11px 20px;
  border-radius: var(--border-radius-small);
  border: 2px solid transparent;
  color: white;
  text-align: center;
  text-decoration-line: none;
  font-weight: 700;
  line-height: 1;
  transition: all 100ms linear;

  &:hover {
    text-decoration-line: none;
  }

  &[disabled],
  &.isDisabled {
    opacity: 0.65;
    pointer-events: none;
  }
}

.primary {
  composes: button;
  background: var(--color-primary);

  @include on-hocus {
    border-color: var(--color-primary);
    background: white;
    color: var(--color-primary);
  }
}

.danger {
  composes: button;
  background: var(--color-tertiary);

  @include on-hocus {
    border-color: var(--color-tertiary);
    background: white;
    color: var(--color-tertiary);
  }
}
