@use 'variables' as *;
@use 'utilities' as *;

.button {
  @include scale-on-active();
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  line-height: 1;
  transition: all 100ms linear;

  &:hover {
    text-decoration: none;
  }

  &[disabled],
  &.isDisabled {
    opacity: 0.65;
    pointer-events: none;
  }
}

.primary {
  composes: button;
  background: var(--color-primary);

  @include onHover {
    border-color: var(--color-primary);
    background: white;
    color: var(--color-primary);
  }
}

.danger {
  composes: button;
  background: $color-danger;

  @include onHover {
    border-color: $color-danger;
    background: white;
    color: $color-danger;
  }
}

//
// Spinner
//
.spinnerWrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.ldsRoller {
  position: absolute;
  top: -30px;
  left: 0;
  display: inline-block;
  width: 80px;
  height: 80px;
  transform: scale(0.3);
  transform-origin: 0 50%;
}

.ldsRoller div {
  animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.ldsRoller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  margin: -4px 0 0 -4px;

  .button:hover & {
    @media (hover: hover) {
      background: $color-danger;
    }
  }
}

.ldsRoller div:nth-child(1) {
  animation-delay: -0.036s;
}

.ldsRoller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.ldsRoller div:nth-child(2) {
  animation-delay: -0.072s;
}

.ldsRoller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.ldsRoller div:nth-child(3) {
  animation-delay: -0.108s;
}

.ldsRoller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.ldsRoller div:nth-child(4) {
  animation-delay: -0.144s;
}

.ldsRoller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.ldsRoller div:nth-child(5) {
  animation-delay: -0.18s;
}

.ldsRoller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.ldsRoller div:nth-child(6) {
  animation-delay: -0.216s;
}

.ldsRoller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.ldsRoller div:nth-child(7) {
  animation-delay: -0.252s;
}

.ldsRoller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.ldsRoller div:nth-child(8) {
  animation-delay: -0.288s;
}

.ldsRoller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes ldsRoller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
