@use 'variables' as *;
@use 'utilities' as *;

.outer {
  padding-top: 40px;
  padding-bottom: calc(40px + env(safe-area-inset-bottom));
  background:var(--footer-bg-color);

  @media print {
    display: none;
  }
}

.inner {
  @include container(fluid);
  text-align: center;

  @media (min-width: $large-screen) {
    @include container(large);
  }
}

.author {
  color: var(--secondary-text-color);
  text-decoration: none;

  @include onHover {
    text-decoration: underline;
  }
}
