@use 'variables' as *;
@use 'utilities' as *;

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background: var(--color-primary);
  box-shadow: $shadow-small;
  color: white;

  @media print {
    display: none;
  }
}

.headerContainer {
  @include container(fluid);

  display: flex;
  align-items: center;
  height: 100%;

  @media (min-width: $large-screen) {
    @include container(large);
  }
}

.linkToHome {
  display: flex;
  align-items: center;
  fill: white;
  color: white;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
  }
}

.logoWrapper {
  @include circle(35px);
  @include place-center();
  
  background: white;

  @media (min-width: $medium-screen) {
    @include circle(40px);
  }
}

.logo {
  flex-shrink: 0;
  fill: var(--color-primary);
}

.homeLabel {
  display: none;
  
  @media (min-width: $medium-screen) {
    display: block;
    margin-left: 10px;
  }
}

.searchBox {
  display: flex;
  align-items: center;
  width: 160px;
  height: 35px;
  margin-left: 15px;
  padding-left: 8px;
  padding-right: 5px;
  border-radius: 7px;
  background: var(--main-bg-color);

  @media (min-width: $medium-screen) {
    width: 180px;
    height: 40px;
    margin-left: 30px;
  }
}

.searchInput {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: inherit;
  color: var(--main-text-color);
  outline: none;
}

.searchButton {
  display: flex;
  align-items: center;
  margin-left: 5px;
  background: none;
}

.searchIcon {
  @include transparentize-on-hover();

  width: 20px;
  height: 20px;
  fill: var(--color-primary);
}
