@use 'sass:math';
@use 'sass:color';

.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 400px;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-medium);
  background: var(--bg-surface);
}

.imageWrapper {
  overflow: hidden;
  position: relative;
  aspect-ratio: 2;

  .root.isSkeleton & {
    @include skeleton-styles(0);
  }
}

.image {
  object-fit: cover;

  @include on-hocus(imageWrapper) {
    transform: scale(1.1);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: transform 300ms;
  }
}

.date {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 3px 10px;
  border-radius: var(--border-radius-small);
  background: color.scale(black, $alpha: -30%);
  color: white;
  font-size: 0.9em;
  pointer-events: none;

  @media (min-width: $medium-screen) {
    left: 25px;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  padding: 20px;

  @media (min-width: $medium-screen) {
    padding: 25px;
  }
}

.heading {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .root.isSkeleton & {
    @include skeleton-styles;
  }
}

.link {
  text-decoration-line: none;
  color: inherit;

  @include on-hocus {
    color: var(--post-preview-title-color-hover);
  }
}

.excerpt {
  overflow: hidden;
  height: calc((var(--font-size-medium) * var(--line-height-medium)) * 4);
  margin: 0;

  .root.isSkeleton & {
    @include skeleton-styles;
  }
}

.button {
  align-self: start;
  margin-top: auto;

  .root.isSkeleton & {
    @include skeleton-styles;
  }
}

@include pulse-keyframes;
