@use 'sass:math';
@use 'sass:color';

.root {
  --post-preview-border: var(--color-grey-238);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border-radius: var(--border-radius-large);
  border: 1px solid var(--post-preview-border);
  box-shadow: var(--shadow-small);
  background: var(--bg-surface);

  @include on-hocus {
    box-shadow: var(--shadow-medium);
  }

  :global(.hasDarkTheme) & {
    --post-preview-border: #333;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: inherit;
}

.imageWrapper {
  overflow: hidden;
  position: relative;
  aspect-ratio: 2;
  background: var(--bg-skeleton);

  .root.isSkeleton & {
    @include skeleton-styles(0);
  }
}

.image {
  object-fit: cover;

  @include on-hocus(wrapper) {
    transform: scale(1.1);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: transform 300ms;
  }
}

.date {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 3px 10px;
  border-radius: var(--border-radius-small);
  background: color.scale(black, $alpha: -30%);
  color: white;
  font-size: var(--font-size-small);
  pointer-events: none;

  @media (min-width: $medium-screen) {
    left: 25px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 15px 20px 20px;

  @media (min-width: $medium-screen) {
    padding: 20px 25px 25px;
  }
}

.heading {
  margin: 0;
  font-size: rem(24);
  font-weight: 600;

  .root.isSkeleton & {
    @include skeleton-styles;
  }
}

.excerpt {
  --lines: 4;

  @include line-clamp(#{var(--lines)});

  margin: 0;
  color: var(--text-color);

  .root.isSkeleton & {
    @include skeleton-styles;

    height: calc((var(--font-size-medium) * var(--line-height-medium)) * var(--lines));
  }
}

@include pulse-keyframes;
