@use 'variables' as *;
@use 'utilities' as *;

.postList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 432px));
  justify-content: center;
  gap: 20px;

  @media (min-width: $medium-screen) {
    grid-template-columns: repeat(auto-fill, calc(50% - 10px));
  }

  @media (min-width: $large-screen) {
    grid-template-columns: repeat(auto-fill, 432px);
    gap: 30px;
  }
}
