@use 'sass:math';
@use 'sass:color';

.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: var(--shadow-medium);
  background: var(--bg-color-inner);
}

.imageWrapper {
  position: relative;
  height: 150px;

  @media (min-width: $medium-screen) {
    height: 200px;
  }

  .root.isSkeleton & {
    @include skeleton-styles(0);
  }
}

.image {
  object-fit: cover;
}

.date {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 3px 10px;
  border-radius: 5px;
  background: color.scale(black, $alpha: -30%);
  color: white;
  font-size: 0.9em;
  pointer-events: none;

  @media (min-width: $medium-screen) {
    left: 25px;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px 15px 20px;

  @media (min-width: $medium-screen) {
    padding: 20px 25px 25px;
  }
}

.heading {
  margin: 0 0 15px;

  .root.isSkeleton & {
    @include skeleton-styles;
  }
}

.link {
  text-decoration-line: none;
  color: inherit;

  @include on-hocus {
    color: var(--post-preview-title-color-hover);
  }
}

.excerpt {
  margin-top: 0;

  .root.isSkeleton & {
    @include skeleton-styles;
  }
}

.button {
  align-self: start;
  margin-top: auto;

  .root.isSkeleton & {
    @include skeleton-styles;
  }
}

@include pulse;
