.root {
  --theme-switch-height: 35px;
  --theme-switch-slider-diameter: 30px;
  --theme-swicth-offset: 3px;
  --theme-swicth-background-color: var(--color-grey-102);

  flex-shrink: 0;
  position: relative;
  width: 65px;
  height: var(--theme-switch-height);
  margin-left: auto;
  border-radius: 18px;
  background: var(--theme-swicth-background-color);

  @media (min-width: $medium-screen) {
    --theme-switch-height: 40px;
    --theme-switch-slider-diameter: 35px;

    width: 70px;
  }

  &:focus-visible {
    outline-color: white;
  }

  :global(.hasDarkTheme) & {
    --theme-swicth-background-color: var(--color-grey-85);
  }
}

.slider {
  @include circle(var(--theme-switch-slider-diameter));

  position: absolute;
  border-radius: 16px;
  z-index: 2;
  top: 0;
  left: var(--theme-swicth-offset);
  bottom: 0;
  margin: auto;
  background: white;

  @media (prefers-reduced-motion: no-preference) {
    transition: all 150ms;
  }

  .root:hover & {
    box-shadow: 0 0 2px 3px var(--color-green);
  }

  .root.hasDarkTheme & {
    left: calc(100% - var(--theme-switch-slider-diameter) - var(--theme-swicth-offset));
  }
}

.moon,
.sun {
  position: relative;
  z-index: 1;
  display: block;
  width: 20px;
  height: 20px;
}

.moon {
  @include position(left, 7px);
}

.sun {
  @include position(right, 7px);
}
