.root {
  --diameter: 35px;

  flex-shrink: 0;
  position: relative;
  width: 65px;
  height: var(--diameter);
  margin-left: auto;
  border-radius: 30px;
  background: #555;

  @media (min-width: $medium-screen) {
    --diameter: 40px;

    width: 70px;
  }

  &:focus-visible {
    outline-color: white;
  }
}

.slider {
  @include circle(var(--diameter));

  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: white;

  @media (prefers-reduced-motion: no-preference) {
    transition: all 150ms;
  }

  .root:hover & {
    box-shadow: 0 0 2px 3px var(--color-green);
  }

  .root.hasDarkTheme & {
    left: calc(100% - var(--diameter));
  }
}

.moon,
.sun {
  z-index: 1;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
}

.moon {
  @include position(left, 6px);
}

.sun {
  @include position(right, 6px);
}
