@use 'variables' as *;
@use 'utilities' as *;

.heading {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;

  @media (min-width: $medium-screen) {
    font-size: 22px;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
