.container {
  @include container;

  @media (min-width: $large-screen) {
    @include container(large);
  }
}

.titleWrapper {
  @include title-wrapper;
}

.title {
  margin: 30px auto;
  text-align: center;
  font-size: rem(30);

  @media (min-width: $medium-screen) {
    margin: 40px auto;
  }

  @media (min-width: $large-screen) {
    max-width: 400px;
  }

  &.hasNoMargin {
    margin: 0;
  }
}

.form {
  display: grid;
  gap: 25px;
}

.noPostsMessage {
  text-align: center;
}
