.container {
  @include container;

  @media (min-width: $large-screen) {
    @include container(large);
  }
}

.title {
  @include section-title;
}

.form {
  display: grid;
  gap: 20px;
}

.button {
  justify-self: start;
}

.noPostsMessage {
  text-align: center;
}
