.container {
  @include container;

  @media (min-width: $large-screen) {
    @include container(large);
  }
}

.titleWrapper {
  @include title-wrapper;
}

.title {
  margin: 0;
  text-align: center;
  font-size: rem(30);

  @media (min-width: $large-screen) {
    max-width: 50vw;
  }
}
