@use 'variables' as *;
@use 'mixins' as *;

.outer {
  padding-top: 40px;
  padding-bottom: calc(40px + env(safe-area-inset-bottom));
  background: ghostwhite;

  &.hasDarkTheme {
    background: #1c1b1c;
  }

  @media print {
    display: none;
  }
}

.inner {
  @include multiscreenContainer();
  text-align: center;
}

.author {
  color: var(--secondary-text-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
