@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.layout {
  overflow-x: hidden;
  box-sizing: border-box;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: $font-primary;
  font-size: $font-size-medium;
  line-height: $line-height;
  word-wrap: break-word;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  min-height: 100vh;
  padding-top: calc(var(--header-height));
  padding-bottom: 50px;
}
