@use 'sass:color';

.root {
  @include position(center, $position: fixed);

  overflow-y: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;

  @media (min-width: $medium-screen) {
    padding: 40px 0;
  }

  &[hidden] {
    display: none !important;
  }

  &.small {
    --modal-max-width: 420px;

    justify-content: center;

    @media (orientation: landscape) {
      justify-content: start;
    }

    @media (orientation: landscape) and (min-width: $large-screen) {
      justify-content: center;
    }
  }
}

.inner {
  position: relative;
  z-index: 20;
  width: calc(100% - 4vw - env(safe-area-inset-left) - env(safe-area-inset-right));
  max-width: var(--modal-max-width);
  padding: 0 25px;
  border-radius: var(--border-radius-large);
  opacity: 0;
  background: var(--bg-color-inner);
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-out;

  @media (prefers-reduced-motion: no-preference) {
    transition-property: opacity, transform;
  }

  @media (min-width: $large-screen) {
    width: 100%;
  }

  .root.isVisible & {
    opacity: 1;
  }

  .root.zoomIn & {
    @media (prefers-reduced-motion: no-preference) {
      transform: scale(0.8);
    }
  }

  .root.zoomIn.isVisible > & {
    transform: scale(1);
  }
}

.sublayer {
  @include position(center, $position: absolute);

  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--color-border);
}

.heading {
  margin: 0 1rem 0 0;
  font-size: 22px;
  font-weight: 500;
}

.closeButton {
  @include circle(30px);

  position: relative;
  flex-shrink: 0;
  margin-right: -8px;
  padding: 0;
  background: transparent;

  @include on-hocus {
    .closeIcon {
      fill: lightgrey;
    }
  }
}

.closeIcon {
  @include position(center);
  @include circle(100%);

  fill: grey;
}

.content {
  padding: 25px 0;
  overflow-wrap: break-word;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.backdrop {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 150vh;
  transition: background-color 300ms ease-out;

  .root.isVisible + & {
    background-color: color.adjust(black, $alpha: -0.5);
  }
}
