@use 'sass:color';

/* stylelint-disable custom-property-empty-line-before */
:root {
  color-scheme: light;

  --header-height: 60px;

  --bg-color: white;
  --bg-surface: white;
  --bg-overlay: ghostwhite;
  --bg-skeleton: #eee;

  --text-color: black;

  --color-grey-68: #444;
  --color-grey-85: #555;
  --color-grey-102: #666;
  --color-grey-153: #999;
  --color-grey-211: lightgray;
  --color-grey-238: #eee;

  --color-green: #2e7d32;

  --color-primary: #5031aa;
  --color-primary-hover: #5d43ac;
  --color-secondary: #d24a01;
  --color-tertiary: crimson;
  --color-border: var(--color-grey-211);
  --color-dimmed: var(--color-grey-102);

  --link-color: var(--color-primary);
  --link-color-hover: var(--color-primary-hover);

  --border-radius-small: 5px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;

  --shadow-small: 0 1.6px 4px 0 rgb(0 0 0 / 7.5%);
  --shadow-medium: 0 8px 16px 0 rgb(0 0 0 / 15%);
  --shadow-large: 0 16px 48px 0 rgb(0 0 0 / 17%);

  --font-size-medium: 18px;
  --font-size-small: 16px;
  --line-height-medium: 1.5;

  @media (min-width: $medium-screen) {
    --header-height: 70px;
  }

  &.hasDarkTheme {
    color-scheme: dark;

    --bg-color: #121212;
    --bg-surface: #1e1e1e;
    --bg-overlay: #2c2c2c;
    --bg-skeleton: var(--bg-overlay);

    --text-color: white;

    --color-primary: #5e3aca;
    --color-primary-hover: #784aff;
    --color-border: var(--color-grey-68);
    --color-dimmed: var(--color-grey-153);

    --link-color: var(--color-primary);
    --link-color-hover: var(--color-primary-hover);
  }
}
