.postBody * {
  margin: 0;
}

.ql-container {
  border: none !important;
  font-size: inherit !important;
  line-height: inherit;
}

.ql-toolbar {
  border-width: 0 0 1px 0 !important;
  border-color: #b4b4b4 !important;
  background: var(--quill-toolbar-bg-color);
}
