.ql-container {
  border: none !important;
  font-size: inherit !important;
  line-height: inherit;
}

.ql-toolbar {
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  border-width: 0 0 1px 0 !important;
  background: var(--quill-toolbar-bg-color);
}

.ql-tooltip {
  background: var(--quill-toolbar-bg-color) !important;
}

.ql-tooltip input {
  color: var(--text-color);
}

.ql-picker-options {
  background: var(--quill-picker-bg-color) !important;
  color: var(--text-color);
}

.hasDarkTheme .ql-picker.ql-expanded .ql-picker-label {
  color: var(--color-dimmed) !important;
}
