:root {
  --quill-toolbar-bg-color: white;
  --quill-picker-bg-color: white;
  --quill-code-bg-color: #f0f0f0;
  --quill-picker-expanded-color: #ccc;
}

:root.hasDarkTheme {
  --quill-toolbar-bg-color: lightgray;
  --quill-picker-bg-color: var(--bg-overlay);
  --quill-code-bg-color: #555;
  --quill-picker-expanded-color: var(--color-dimmed);
}

.ql-container {
  border: none !important;
  font-size: inherit !important;
  line-height: inherit;
}

.ql-toolbar {
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  border-width: 0 0 1px 0 !important;
  background: var(--quill-toolbar-bg-color);
}

.ql-tooltip {
  background: var(--quill-toolbar-bg-color) !important;
}

.ql-tooltip input {
  color: var(--text-color);
}

.ql-picker-options {
  background: var(--quill-picker-bg-color) !important;
  color: var(--text-color);
}

.ql-picker.ql-expanded .ql-picker-label {
  color: var(--quill-picker-expanded-color) !important;
}

.ql-editor code {
  background-color: var(--quill-code-bg-color) !important;
}
